[Unit]
Description=Celery Beat Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/html/worker
ExecStart=/var/www/html/worker/venv/bin/celery --app=tasks beat
Restart=always

[Install]
WantedBy=multi-user.target