[Unit]
Description=Celery Worker Service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/var/www/html/worker
ExecStartPre=/var/www/html/worker/venv/bin/celery --app=tasks purge -f
ExecStart=/var/www/html/worker/venv/bin/celery --app=tasks worker
Restart=always

[Install]
WantedBy=multi-user.target